<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Wanna contact the most amazing person in ther world?</h1>
<p>Thanks for getting in touch :D</p>

<p>You contacted <%=data.who%>in the <%=data.department%> department.</p>
<p>We will reply to you at <%=data.email%></p>




</body>
</html>
