<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1>Welcome to the profile of <%= person %> </h1>
		<p><strong>Age</strong> : <%=data.age%></p>
		<p><strong>Job</strong> : <%=data.job%></p>
		<p><strong>hobby</strong> :
			<ul>
			  <% data.hobbies.forEach(function(hobby){ %>

						<li><%=hobby%></li>



				<%})%>


			</ul>

		</p>

	</body>
</html>
